:root {
    --main-color: #E41515;
  }
  
  @font-face {
    font-family: RobotoCondensed-Bold;
    src: url("../fonts/roboto_condensed/RobotoCondensed-Bold.ttf");
  }
  @font-face {
    font-family: RobotoCondensed-Regular;
    src: url("../fonts/roboto_condensed/RobotoCondensed-Regular.ttf");
  }
  
  body{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .container-login {
    position: relative;
    display: flex;
    border: 1px solid;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    height: fit-content;
    padding: 10px;
    border-radius: 5px;
  }
  
  .estilo-input {
    margin: 0 auto;
    font-family: RobotoCondensed-Bold;
    font-size: 20px;
    color: var(--highlight-text);
    line-height: 1.2;
  }
  
  .titulo-atividade {
    color: var(--main-color);
    display: block;
    font-family: RobotoCondensed-Bold;
    font-size: 45px;
    line-height: 1.2;
  }
  
  .button {
    font-size: 20px;
    color: white;
    line-height: 1.2;
    text-transform: uppercase;
    background-color: var(--main-color);
    margin: 0 auto;
    font-family: RobotoCondensed-Bold;
    font-size: 20px;
    padding: 0 20px;
    line-height: 1.2;
    border-radius: auto;
    margin-bottom: auto;
    margin-top: auto;
  }
  
  .margem-top-35px {
    margin-top: 35px;
  }
  
  .margem-bottom-35px {
    margin-bottom: 35px;
  }
  
  .margem-bottom-8px {
    margin-bottom: 8px;
  }
  
  .margem-top-8px {
    margin-top: 8px;
  }
  
  .margem-left-50px {
    margin-left: 50px;
  }