:root {
  --main-color: #E41515;
}

@font-face {
  font-family: RobotoCondensed-Bold;
  src: url("../fonts/roboto_condensed/RobotoCondensed-Bold.ttf");
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-login {
  display: flex;
  padding: 30px;
  flex-wrap: nowrap;
  border-radius: 5px;
  position: relative;
  height: fit-content;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #b1b1b1;
  box-shadow: 0 0 20px 0 #979797;
}

.estilo-input {
  margin: 0 auto;
  font-family: RobotoCondensed-Bold;
  font-size: 20px;
  color: var(--highlight-text);
  line-height: 1.2;
}

.titulo-atividade {
  color: var(--main-color);
  display: block;
  font-family: RobotoCondensed-Bold;
  font-size: 45px;
  line-height: 1.2;
}

.button {
  color: white;
  margin: 0 auto;
  cursor: pointer;
  font-size: 20px;
  padding: 0 20px;
  line-height: 1.2;
  border-radius: 3px;
  text-transform: uppercase;
  box-shadow: 0 0 3px 0 #000000;
  font-family: RobotoCondensed-Bold;
  background-color: var(--main-color);
  border: 1px solid var(--main-color);
}
.button:hover{
  box-shadow: 0 0 6px 0 #000000;
}

.margem-top-35px {
  margin-top: 35px;
}

.margem-bottom-35px {
  margin-bottom: 35px;
}

.margem-bottom-8px {
  margin-bottom: 8px;
}

.margem-top-8px {
  margin-top: 8px;
}

.margem-left-50px {
  margin-left: 50px;
}